
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



            <div>
                <div style="margin-top:50px ; margin-left:50px">
                    <div>
                        <h2>Markalar</h2>
                        <br />

                        <h1></h1>

                        <button type="button" class="btn btn-success"> <a href="/Brand/Add" style="text-decoration: none; color: white">Yeni Bir Marka Ekle</a> </button>
                        <hr />
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Marka Id</td>
                                <td>Marka Adı</td>
                                <td>İşlemler</td>

                            </tr>
                        </thead>
                        <tbody>
                           
                            @{ foreach (System.Data.DataRow table in ViewBag.table.Rows)
                                {
                                                        <tr>
                                                            <th>   <a style="margin-right:50px">  @table["marka_id"]</a> </th>
                                                            <th>      @table["m_adi"]</th>

                                 
                                                            <th><button type="button" class="btn btn-danger"> <a style="text-decoration: none; color: white"> @Html.ActionLink("Delete", "Delete", new { id = @table["marka_id"] })</a>  </button>  </th>
                                                            <th> <button type="button" class="btn btn-warning"> <a style="text-decoration: none; color: white"> @Html.ActionLink("Update", "Update", new { @id = @table["marka_id"] }) </a> </button>     </th>
                                                           
                                                        </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>



            </div>

   
